@page "/login"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager navigationManager

<h3>Login</h3>
<p>Hello! Please login here:</p>
<input type="text" @bind="username"/>

@code {
    private string? username;
    private string? password;

    public async Task LogInUser()
    {
        
    }



}
