@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using BlazorStandAlone.Components

<div class="page">
    <AppHeader></AppHeader>
    <main class="content">
        @Body
    </main>
    <AppFooter></AppFooter>
</div>
