@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <header id="site-header" class="header">
        <a class="logo-wrapper" href="">
            <img src="icons/logo-white.svg" alt="Logo" class="header-logo" >
        </a>
        <nav class="nav">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
            <NavLink class="nav-link" href="#event-section">
                Event
            </NavLink>
            <NavLink class="nav-link" href="/admin">
                DevAdmin
            </NavLink>
            <NavLink class="nav-link" href="/login">
                Login
            </NavLink>
        </nav>
    </header>

    <main class="content">
        @Body
    </main>
</div>