@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <header id="site-header" class="header">
        <a class="header-title" href="">Östgöta Event </a>
        <nav class="nav">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Hem
            </NavLink>
            <NavLink class="nav-link" href="#event-section">
                Event
            </NavLink>
            <NavLink class="nav-link" href="/admin">
                DevAdmin
            </NavLink>
            <NavLink class="nav-link" href="/login">
                Login
            </NavLink>
        </nav>

    </header>

    <main class="content">
        @Body
    </main>
</div>