@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using BlazorStandAlone.Components

<div class="page">
    <NavLink class="admin-TODO" href="/admin">
        AdminTODO
    </NavLink>

    <AppHeader></AppHeader>
    <main class="content">
        @Body
    </main>
    <AppFooter></AppFooter>
</div>
