* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* Content */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* header */

header {
    background: transparent;
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.logo-wrapper {
    padding: 10px;
}

.header-logo {
    width: 110px;  
    height: auto; 
    position: absolute;
}

.nav {
    display: flex;
    margin-left: auto;
}

.nav-link {
    font-size: 22px;
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.5s ease-in-out;
}

header .nav-link:hover,
.nav .nav-link:hover {
    color: gold;
    transform: scale(1.05);
}

.nav-link:link,
.nav-link:visited {
    color: white;
}

.admin-TODO {
    font-size: 20px;
    padding: 8px 12px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
