:root {
    --text-color-light: white;
    --text-color-dark: black;
    --text-color-hover: var(--header-color);

    --header-color: #313131;
    --background-color-light: white;
    --background-color-mid: rgb(241, 241, 241);

    --home-button-color: #5ec95a;
    --home-button-color-grey: lightgray;
    --home-date-color: rgb(88, 197, 211);

    --warning-color: rgb(255, 132, 0);
    --error-color: #ff2929;

    --admin-button-color: #595959;
    --admin-border-color: var(--header-color);
    --admin-button-hover: #bdc3c7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* WASM loading page */
#app-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#app-loading img {
    width: 200px;
    height: auto;
}

#app-loading p {
    margin-top: 30px;
    font-size: 1.4rem;
    color: var(--text-color-dark);
}

/* Blazor error UI */
#blazor-error-ui {
    background: rgb(185, 185, 177);
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.popup-content {
    background-color: var(--background-color-light);
    padding: 24px;
    position: relative;
    width: 380px;
    height: 520px;
    display: flex;
    flex-direction: column;
    margin-right: 68px;
    margin-top: 120px;
}

@media all and (max-width: 600px) {


    #site-header {
        margin-bottom: 60vh;
        padding: 0px;
        padding-right: 0px;
        padding-left: 0px
    }

    header {
        padding: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    #site-header .header-logo {
        width: 80px;
    }

    #site-header .nav {
        margin-top: 20px;
        padding-top: 0px;
        padding-right: 0px;
        padding: 10px;
        gap: 5px;
    }

    #site-header .nav-link {
        font-size: 18px;
        padding: 5px;
    }

    .popup-content {   
        width: 100%;
        margin-right: 0px;
        margin-top: 120px;
    }
}