<footer class="footer">
    <div class="footer-container">
        <div class="footer-brand">
            <a href="" class="footer-link">
                <img src="icons/logo-white.svg" alt="Logo" class="footer-logo">
                <h2>Östgöta Event</h2>
            </a>
        </div>
        <div class="footer-contact">
            <h3>Kontakt</h3>
            <p><a href="mailto:info@ostgotaevent.se">info@ostgotaevent.se</a></p>
            <p><a href="tel:+46123456789">+46 123 456 789</a></p>
        </div>
        <div class="footer-social">
            <h3>Följ oss</h3>
            <div id="footer-spacer"></div>
            <a href="https://github.com/Ett-bra-team-som-samarbetar-bra/ostgota-event" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://github.com/Ett-bra-team-som-samarbetar-bra/ostgota-event" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/Ett-bra-team-som-samarbetar-bra/ostgota-event" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Östgöta Event. Alla rättigheter förbehållna.</p>
    </div>
</footer>
