.confirmation-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.receipt-container {
    padding: 30px;
    text-align: center;
    width: 400px;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.total-price {
    padding-left:10px;
    text-align: left;
    margin-top: 15px;
    font-size: 18px;
}

button {
    margin-top: 30px;
    padding: 10px 15px;
    background: var(--home-button-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #218838;
}

.logo {  
    position: absolute;
    width: 180px;
    height: auto;
    top: 0;
    left: 0;
    padding: 20px;
}

h2 {
    padding-bottom: 20px;
    font-size: 32px;
}

