@page "/"
@using BlazorStandAlone.Models
@using BlazorStandAlone.Components
@using BlazorStandAlone.Components.Home
@inject SessionStorageService SessionStorage
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IJSRuntime JS

<PageTitle>Östgöta Event</PageTitle>

<section class="landing-page">
    <video autoplay muted loop playsinline class="background-video">
        <source src="movies/ostgota-event-3.mp4" type="video/mp4">
    </video>
    <div class="landing-page-icon-wrapper">
        <a id="landing-page-link" href="#event-section">
            <i id="landing-page-arrow" class="fa-solid fa-arrow-down"></i>
        </a>
    </div>
</section>

<section id="event-section" class="event-section">
    <header class="event-section-header">
        <h2>Kommande Event</h2>
        <div class="event-controls">

            <div class="event-input-box">
                @* Video tag works a bit so so, Blazor's fault, not ours. *@
                <input type="text" id="event-search" @bind="searchEvent" @bind:event="oninput"
                    @onkeypress="HandleSearchKeyPress" placeholder="Sök efter namn, stad, datum">
                <button class="drop-btn" @onclick="FilterEvents">Sök</button>
            </div>

            <SortDropdown SortChanged="SortEvents" />
        
        </div>
    </header>

    <div class="event-container">
        
      @foreach (var ev in EventPages)
        {
            <EventCard Event="ev" 
                    OnOpenModal="OpenModal" 
                    OnGoToCheckout="GoToCheckout" />
        }

        <div class="pagination-buttons"> 
            <button @onclick="PreviousPage" disabled="@IsPreviousDisabled">Föregående</button>
            <span>@CurrentPage av @TotalPages</span>
            <button @onclick="NextPage" disabled="@IsNextDisabled">Nästa</button>
        </div>

    </div>
</section>

<EventModal Event="selectedEvent"
            IsVisible="isModalVisible"
            OnClose="CloseModal"
            OnGoToCheckout="GoToCheckout" />
  
<script>
    function scrollToEventSection() {
        document.getElementById('event-section').scrollIntoView();
    } 
</script>
