@page "/"
@using BlazorStandAlone.Models
@inject SessionStorageService SessionStorage
@inject NavigationManager NavigationManager


<section class="landing-page">
        <video autoplay muted loop playsinline class="background-video">
            <source src="images/ostgotaevent.mp4" type="video/mp4">
        </video>

        <PageTitle>Home</PageTitle>
</section>

<section id="event-section" class="event-section">
    <div class="event-section-header">  
        <h2>Wakka  Wakka</h2>   
    </div>
</section>


@code {
    private LoginDto? user;

    protected async Task OnIntializedAsync()
    {
        var result = await SessionStorage.GetItemAsync<User>("user");

        if (result != null)
        {
            user = new LoginDto() { Username = result.Username, Role = result.Role };
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}

